$font-stack:    Helvetica, sans-serif;
$primary-color: #fff;
$secondary-color: #fba;
$padding-h1: 70px;
$padding-h2: 50px;

body {
  font: 100% $font-stack;
  color: $primary-color;
  background-image: 
        linear-gradient(
            to right bottom,
            rgba(#777, 0.8),
            rgba(#777, 0.8)),
        url(~assets/img/1920-288698.jpg);
}

h1 {
  padding: $padding-h1;
}

h2 {
  padding: $padding-h2
}